@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 98%

	header #logo
		box-shadow 0px 0px 7px 0px rgba(0,0,0,0.8)
		height 240px

	#navegador #logo
		box-shadow none
		margin 0.2em
		width 40%

	#contenedor h2
		font-size 1.4em

	#contenedor #izquierda
		padding 0.4em 0.7em
		vertical-align top
		width 78%

	#contenedor #izquierda #item-junta
		color black
		display inline-block
		padding 0.3em
		vertical-align top
		width 70%

	#contenedor #izquierda #item-junta .junta 
		float left	
		font-size 1.1em
		padding-left 1em
		padding-top 4em

	#contenedor #izquierda #item-junta .item-estilo
		padding-top 4em
		padding-Right 4em

	#contenedor #izquierda #item-junta .avatar
		border-radius 50%
		float left
		width 20%

	#contenedor #izquierda #item-junta .directivos
		display inline-block
		margin-top 2em
		width 90%	

	#contenedor	#lateral
		height auto
		float right
		padding 0.3em
		width 21%

	#contenedor	#lateral #botones 
		display inline-block
		padding 0.3em
		width 100%

	#contenedor	#lateral #botones #avata
		display inline-block
		position relative

	#contenedor	#lateral #botones #li
		background #ccd
		width 100%

	#contenedor	#lateral #botones #sub-botones
		font-size 1.4em
		text-align left

	#contenedor	#lateral #botones #sub-botones a:hover
		background #cca
		color yellow
		transition 3s
		text-shadow: 	0px 0px 3px rgba(0,255,0,1), 
						0px 0px 3px rgba(0,255,0,1), 
						0px 0px 3px rgba(0,255,0,1),
						0px 0px 3px rgba(0,255,0,1),
						0px 0px 3px rgba(0,255,0,1), 
						0px 0px 3px rgba(0,255,0,1), 
						0px 0px 3px rgba(0,255,0,1),
						0px 0px 3px rgba(0,255,0,1);

	#contenedor #lateral #redes #text
		font-size 0.7em

	#contenedor #lateral #facebook
		margin-top 1em
		width 80%

	#contenedor #lateral #facebook #fbok
		width 94%

	#contenedor #lateral #twitter
		display inline-block
		margin 1em
		width 90%

		#chat
			box-shadow 0px 0px 0px 3px rgba(0,0,0,0.3)
			width 90%

	#contenedor #lateral #redes .sociales
		display inline-block
		padding 0.5em
		margin-top 0.4em
		vertical-align top
		width 22%

	#contenedor #lateral #redes .punto
		display inline-block
		padding 0.5em
		margin-top 0.4em
		vertical-align top
		width 15%

	#contenedor #lateral #boletin
		display inline-block
		margin-top 1em
		text-align center

	#contenedor #lateral #boletin a 
		display none

	#contenedor #lateral #boletin .formulario
		display inline-block
		margin-top -1em
