body
	background grey
	color white
	font-size 16px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		postion relative
		hight auto
		z-index 1
		width 98% 

		#logo
			height 140px
			width 100%

#botones 
	background #2f4953
	margin-left 0.1em
	padding 0em 4em
	whidth 90%

.section
	background #2f4953

.botone
	font-size 1.0em

#inicio
	color white
	float left
	margin-top 0.7em

.ul
	background red

.href
	font-size 0.5em
	text-align left
	opacity 1em
	transition 1s

#contenedor
	background white
	display inline-block
	postion relativen
	width 98%
		

	#izquierda
		background red
		display inline-block
		float left
		margin 0em 0.3em
		width 70%

		#convocatorias
			background grey
			display inline-block
			font-weight normal
			margin 0.3em
			postion absolute
			width 90%

		#noticias
			background grey
			display inline-block
			margin 0.3em
			postion absolute
			width 90%

	#lateral
		background red
		display inline-block 
		float right
		postion relative
		text-decoration none
		width 25%

		#nav 
			background #dde
			display inline-block
			width 80%

			ul
				display inline-block
				text-align left

				a 
					font-size 0.5em

	#pie
		background black
		display inline-block
		width 100%

		h2
			color white
			font-size 1.0em

		#enlaces
			display inline-block
			font-size 1.1em
			width 80%

			h3
				border-bottom 1px solid white
				font-size 1.0em
				color white
				text-align left
				left 0px
				width 90%

			a 
				color white
				font-family "Lobster", Arial
				padding 0.5em

			a:hover
				color #2c8cf7
		
@import"responsive.styl"

