@font-face{font-family:'icomoon';src:url("fuentes/icomoon.eot?aja64v");src:url("fuentes/icomoon.eot?#iefixaja64v") format('embedded-opentype'),url("fuentes/icomoon.woff?aja64v") format('woff'),url("fuentes/icomoon.ttf?aja64v") format('truetype'),url("fuentes/icomoon.svg?aja64v#icomoon") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-facebook:before{content:"\e601"}
.icon-twitter:before{content:"\e600"}
.icon-youtube:before{content:"\e602"}
.icon-location:before{content:"\e603"}
body{background:#808080;color:#fff;font-family:"Open Sans",Arial;font-size:16px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;postion:relative;hight:auto;z-index:1;width:98%;}
body header #logo{height:140px;width:100%}
#botones{background:#2f4953;margin-left:.1em;padding:0 4em;whidth:100%}
.section{background:#2f4953}
#ul{background:#f00}
.botone{font-size:1em}
#inicio{color:#fff;float:left;margin-top:.7em}
.ul{background:#f00}
.href{font-size:.2em;text-align:left;opacity:1em;transition:1s;width:10px}
#contenedor{background:#fff;display:inline-block;postion:relativen;width:98%;}
#contenedor #izquierda{display:inline-block;float:left;margin:0 .3em;width:70%;}
#contenedor #izquierda #convocatorias{background:#808080;display:inline-block;font-weight:normal;margin:.3em;postion:absolute;width:90%}
#contenedor #izquierda #noticias,#contenedor #izquierda #cronicas,#contenedor #izquierda #calendario,#contenedor #izquierda #galeria{background:#808080;display:inline-block;margin:.3em;postion:absolute;width:90%}
#contenedor #lateral{background:#c5c6c6;display:inline-block;float:right;postion:relative;text-decoration:none;width:25%;}
#contenedor #lateral #nav{display:inline-block;width:80%;}
#contenedor #lateral #nav ul{display:inline-block;text-align:left;}
#contenedor #lateral #nav ul a{font-size:.5em}
#contenedor #lateral #redes{background:#c5c6c6;display:inline-block;text-align:left;padding:0 .3em;postion:absolute;verticlal-align:top;width:100%;}
#contenedor #lateral #redes #text{font-size:.6em}
#contenedor #lateral #redes .sociales{display:inline-block;padding:.3em;width:30%}
#contenedor #lateral #boletin{display:inline-block;padding:.3em;width:100%;}
#contenedor #lateral #boletin a{color:#fff;font-size:1em}
#contenedor #lateral #boletin a:hover{color:#2c8cf7;transition:1s}
#contenedor #lateral #boletin .formulario{display:none}
#contenedor #pie{background:#000;display:inline-block;width:100%;}
#contenedor #pie h2{color:#fff;font-size:1em}
#contenedor #pie #enlaces{display:inline-block;font-size:1.1em;width:80%;}
#contenedor #pie #enlaces h3{border-bottom:1px solid #fff;font-size:1em;color:#fff;text-align:left;left:0;width:90%}
#contenedor #pie #enlaces a{color:#fff;font-family:"Lobster",Arial;padding:.5em}
#contenedor #pie #enlaces a:hover{color:#2c8cf7}
@media screen and (min-width:768px){&{text-decoration:none;text-transform:uppercase;text-align:left;display:inline-block;padding:10px 10px 10px 20px}
body{margin:0 auto;max-width:98%}
#contenedor h2{font-size:1.4em}
#contenedor #izquierda{padding:.4em .5em;vertical-align:top;width:60%;}
#contenedor #izquierda #convocatorias{width:45%}
#contenedor #izquierda #noticias,#contenedor #izquierda #calendario,#contenedor #izquierda #galeria{width:45%}
#contenedor #izquierda #cronicas{width:100%}
#contenedor #lateral #nav{list-style-type:none}
margin 0px{padding:0}
#contenedor #lateral #nav{padding:.3em}
#contenedor #lateral #nav ul{background-color:#666;display:inline-block;padding:.6em;width:60%}
#contenedor #lateral #nav ul a{color:#ccc;font-size:1em}
#contenedor #lateral #nav ul a:hover{background:#000;border-left:10px solid #333;color:#fff;display:inline-block;text-transform-right:1s}
#contenedor #lateral #redes #text{font-size:.7em}
#contenedor #lateral #redes .sociales{padding:.5em;margin-top:.4em;vertical-align:top;width:15%}
#contenedor #lateral #boletin a{display:none}
#contenedor #lateral #boletin .formulario{display:inline-block;margin-top:-1em}
}