body
	background grey
	color white
	font-size 16px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		postion relative
		hight auto
		z-index 1
		width 98% 

		#logo
			height 140px
			width 100%

#botones 
	margin-left 0.1em
	padding 0em 4em
	whidth 90%

.botone
	font-size 1.0em

#inicio
	color white
	float left
	margin-top 0.7em

.href
	text-align left

