@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 98%

	#contenedor h2
		font-size 1.4em

	#contenedor #izquierda
		padding 0.4em 0.7em
		vertical-align top
		width 70%

		#directo
			width 90%

			#video
				width 60%
	 		

		#convocatorias
			float left
			width 47%

		#noticias, #calendario, #galeria
			width 47%

		#noticias
			float right

		#galeria
			float right

		#calendario
			float left

		#cronicas
			width 100%

		#directo
			width 100%

	#contenedor	#lateral #nav 
			list-style-type none
		    margin 0px
		    padding 0px

	#contenedor	#lateral #nav
		padding 0.3em

	#contenedor	#lateral #nav ul
		background-color #666
		display inline-block
		padding 0.6em
		width 60%

	#contenedor	#lateral #nav ul a 
		color #ccc
		font-size 1.0em
	    text-decoration none
	    text-transform uppercase
	    text-align left
	    display inline-block
	    padding 10px 10px 10px 20px

	#contenedor	#lateral #nav ul a:hover
		background #000
		border-left 10px solid #333
		color #fff
		display inline-block
		text-transform-right 1s

	#contenedor #lateral #redes #text
		font-size 0.7em

	#contenedor #lateral #redes .sociales
		padding 0.5em
		margin-top 0.4em
		vertical-align top
		width 15%

	#contenedor #lateral #boletin a 
		display none

	#contenedor #lateral #boletin .formulario
		display inline-block
		margin-top -1em
