@font-face{font-family:'icomoon';src:url("fuentes/icomoon.eot?aja64v");src:url("fuentes/icomoon.eot?#iefixaja64v") format('embedded-opentype'),url("fuentes/icomoon.woff?aja64v") format('woff'),url("fuentes/icomoon.ttf?aja64v") format('truetype'),url("fuentes/icomoon.svg?aja64v#icomoon") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-facebook:before{content:"\e601"}
.icon-twitter:before{content:"\e600"}
.icon-youtube:before{content:"\e602"}
.icon-location:before{content:"\e603"}
body{background:#808080;color:#fff;font-family:"Open Sans",Arial;font-size:16px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;postion:relative;hight:auto;z-index:1;width:98%;}
body header #logo{height:140px;width:100%}
.top-bar .title-area{background:#6d5bc2;}
.top-bar .title-area #name{border-radius:10px}
#navegador{background:#6d5bc2;}
#navegador #logo{border-radius:50%;box-shadow:4px 0 15px rgba(0,0,0,0.9);float:left;height:40px;width:34%}
#navegador a{font-family:"Lobster",Arial}
#navegador a:hover{color:#ff0;text-shadow:0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0}
#contenedor{background:#808080;display:inline-block;postion:relativen;width:98%;}
#contenedor #izquierda{background:#fff;display:inline-block;float:left;margin:0 .3em;verticlal-align:top;width:75%;}
#contenedor #izquierda #calendario{color:#000;display:inline-block;margin:.3em;padding:.1em;postion:absolute;width:90%;}
#contenedor #izquierda #calendario h2{background:#808080;border-bottom:1px solid #000;color:#fff;text-align:left;float:left;width:100%}
#contenedor #izquierda #calendario #item-calendario{display:inline-block;width:90%}
#contenedor #izquierda #calendario .slider{width:100%;margin:0 auto}
#contenedor #izquierda #calendario .slider div.images{position:relative;width:100%;height:300px;overflow:hidden}
#contenedor #izquierda #calendario .slider div.images div .img{width:100%}
#contenedor #izquierda #calendario .slider div.images div{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;background:#000;z-index:1}
#contenedor #izquierda #calendario .slider div.images div img{display:block;width:100%;height:100%}
#contenedor #izquierda #calendario .slider div.images div.active{z-index:2}
#contenedor #izquierda #calendario .slider div.images div.animate{transition:left 400ms;-moz-transition:left 400ms;-webkit-transition:left 400ms;-ms-transition:left 400ms;-o-transition:left 400ms;z-index:2}
#contenedor #izquierda #calendario .slider div.images div.next{left:100%}
#contenedor #izquierda #calendario .slider div.images div.prev{left:-100%}
#contenedor #izquierda #calendario .slider div.images div.center{left:0}
#contenedor #izquierda #calendario .slider div.actions{text-align:center;padding:5px 0}
#contenedor #izquierda #calendario .slider div.actions a{display:inline-block;margin:0 5px;outline:none;border:#ccc solid 1px;border-radius:5px;font-size:10px;color:#333;line-height:100%;text-decoration:none;padding:4px 10px;transition:background-color 500ms;-moz-transition:background-color 500ms;-webkit-transition:background-color 500ms;-ms-transition:background-color 500ms;-o-transition:background-color 500ms}
#contenedor #izquierda #calendario .slider div.actions a:hover{background:#ccc}
#contenedor #lateral{background:#c5c6c6;display:inline-block;float:right;postion:relative;text-decoration:none;width:21%;}
#contenedor #lateral #nav{display:inline-block;position:relative;width:100%;}
#contenedor #lateral #nav ul{display:inline-block;text-align:left;}
#contenedor #lateral #nav ul a{font-family:"Lobster",Arial;font-size:.5em;float:le}
#contenedor #lateral #redes{background:#c5c6c6;display:inline-block;text-align:left;padding:0 .3em;postion:absolute;verticlal-align:top;width:100%;}
#contenedor #lateral #redes #text{font-size:.6em;}
#contenedor #lateral #redes #text .sociales{display:block;padding:.3em;width:100%}
#contenedor #lateral #twitter{display:none}
#contenedor #lateral #boletin{display:inline-block;text-align:left;padding:.1em;width:100%;}
#contenedor #lateral #boletin p{font-size:1em}
#contenedor #lateral #boletin a{color:#fff;font-size:1em}
#contenedor #lateral #boletin a:hover{color:#2c8cf7;transition:1s}
#contenedor #lateral #boletin .formulario{display:none}
#contenedor #lateral #virtual{background:#f00;display:inline-block;height:auto;position:relative;width:100%;}
#contenedor #lateral #virtual h2{color:#fff;float:left;font-size:.8em}
#contenedor #pie{background:#000;display:inline-block;width:100%;}
#contenedor #pie h2{color:#fff;font-size:1em}
#contenedor #pie #enlaces{display:inline-block;font-size:1.1em;width:80%;}
#contenedor #pie #enlaces h3{border-bottom:1px solid #fff;font-size:1em;color:#fff;text-align:left;left:0;width:90%}
#contenedor #pie #enlaces a{color:#fff;font-family:"Lobster",Arial;padding:.5em}
#contenedor #pie #enlaces a:hover{color:#ff0;text-shadow:0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0,0 0 20px #0f0}
@media screen and (min-width:768px){&{text-decoration:none;text-transform:uppercase;text-align:left;display:inline-block;padding:10px 10px 10px 20px}
body{margin:0 auto;max-width:98%}
#contenedor h2{font-size:1.4em}
#contenedor #izquierda{padding:.4em .7em;vertical-align:top;width:78%}
#calendario,height auto{width:47%;}
#calendario #item-calendario,height auto #item-calendario{height:400px;width:100%}
#calendario h2,height auto h2{border-radius:20%;box-shadow:5px 10px 7px rgba(0,0,0,0.5)}
#contenedor #lateral{float:right;width:21%}
#contenedor #lateral #nav{list-style-type:none}
margin 0px{padding:0}
#contenedor #lateral #nav{padding:.3em}
#contenedor #lateral #nav ul{background-color:#666;display:inline-block;padding:.6em;width:70%}
#contenedor #lateral #nav ul a{color:#ccc;font-size:1em}
#contenedor #lateral #nav ul a:hover{background:#000;border-left:10px solid #333;color:#fff;display:inline-block;text-transform-right:1s}
#contenedor #lateral #redes #text{font-size:.7em}
#contenedor #lateral #twitter{display:inline-block;width:90%;}
#contenedor #lateral #twitter #chat{box-shadow:0 0 0 3px rgba(0,0,0,0.3);width:90%}
#contenedor #lateral #redes .sociales{display:inline-block;padding:.5em;margin-top:.4em;vertical-align:top;width:22%}
#contenedor #lateral #redes .punto{display:inline-block;padding:.5em;margin-top:.4em;vertical-align:top;width:15%}
#contenedor #lateral #boletin{display:inline-block;margin-top:1em;text-align:center}
#contenedor #lateral #boletin a{display:none}
#contenedor #lateral #boletin .formulario{display:inline-block;margin-top:-1em}
}