@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 98%

	#contenedor h2
		font-size 1.4em

	#contenedor #izquierda
		padding 0.4em 0.7em
		vertical-align top
		width 78%

	 	#calendario
	 		height auto
			width 47%

			#item-calendario
				height 400px
				width 100%

			h2
				border-radius 20%
				box-shadow 5px 10px 7px rgba(0,0,0,0.5)

	#contenedor	#lateral
		float right
		width 21%

	#contenedor	#lateral #nav 
			list-style-type none
		    margin 0px
		    padding 0px

	#contenedor	#lateral #nav
		padding 0.3em

	#contenedor	#lateral #nav ul
		background-color #666
		display inline-block
		padding 0.6em
		width 70%

	#contenedor	#lateral #nav ul a 
		color #ccc
		font-size 1.0em
	    text-decoration none
	    text-transform uppercase
	    text-align left
	    display inline-block
	    padding 10px 10px 10px 20px

	#contenedor	#lateral #nav ul a:hover
		background #000
		border-left 10px solid #333
		color #fff
		display inline-block
		text-transform-right 1s

	#contenedor #lateral #redes #text
		font-size 0.7em

	#contenedor #lateral #twitter
		display inline-block
		width 90%

		#chat
			box-shadow 0px 0px 0px 3px rgba(0,0,0,0.3)
			width 90%

	#contenedor #lateral #redes .sociales
		display inline-block
		padding 0.5em
		margin-top 0.4em
		vertical-align top
		width 22%

	#contenedor #lateral #redes .punto
		display inline-block
		padding 0.5em
		margin-top 0.4em
		vertical-align top
		width 15%

	#contenedor #lateral #boletin
		display inline-block
		margin-top 1em
		text-align center

	#contenedor #lateral #boletin a 
		display none

	#contenedor #lateral #boletin .formulario
		display inline-block
		margin-top -1em
